/*------ Element Styles -------*/

body {
  margin: 0;
  text-align: center;
  font-family: 'EB Garamond', serif;
  color: #7d7d7d;
}

h1 {                                 /* 16px = 100% = 1em */
margin: 50px auto 0 auto;
font-family: 'Sacramento', cursive;
font-size: 5.625rem;
color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  color: #11999E;
}

p {
  line-height: 2;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #aaaaaa;
}

hr {
  border: dotted #7d7d7d 6px;
  border-bottom: none;
  width: 4%;
  margin: 75px auto 100px;
}

/*------ Class Styles -------*/

.top-container {
  background-color: #e7f5f2;
  position: relative;
  padding-top: 100px;
}
.middle-container {
  background-color: snow;
  padding-top: 80px;
  padding-bottom: 80px;
}

.bottom-container {
  background-color: #e7f5f2;
  margin-bottom: auto;
  padding-bottom: 50px;
  padding-top: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
}

.intro-paragraph {
  padding-bottom: 25px;
  width: 30%;
  margin: auto;
  line-height: 2;
}

.get-in-touch-paragraph {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 40%;
  margin: auto;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.profile-pic {
  border-radius: 50%;
  max-width: 15%;
  max-height: 15%;
}

.computer-pic {
  border-radius: 50%;
  border-style: solid;
  border-color: #aaaaaa;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.typewriter-pic {
  border-radius: 50%;
  border-style: solid;
  border-color: #aaaaaa;
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.contact-button {
  margin-top: 25px;
}

.copyright {
  color: #aaaaaa;
  font-size: 0.75rem;
  margin-top: 40px;
}

.myButton {
	-moz-box-shadow: 0 0 0 -33px #276873;
	-webkit-box-shadow: 0 0 0 -33px #276873;
	box-shadow: 0 0 0 -33px #276873;
	background-color:#66BFBF;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	padding:13px 16px;
	text-decoration:none;
	text-shadow:0 1px 0 #3d768a;
}
.myButton:hover {
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}
